In [2]:
import numpy as np
import pandas as pd
from sklearn.utils import shuffle

In [3]:
data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]
feat = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT']

In [4]:
df = pd.DataFrame(data, columns = feat)
df['target'] = target
df = shuffle(df)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
312,0.26169,0.0,9.90,0.0,0.544,6.023,90.4,2.8340,4.0,304.0,18.4,396.30,11.72,19.4
350,0.06211,40.0,1.25,0.0,0.429,6.490,44.4,8.7921,1.0,335.0,19.7,396.90,5.98,22.9
416,10.83420,0.0,18.10,0.0,0.679,6.782,90.8,1.8195,24.0,666.0,20.2,21.57,25.79,7.5
493,0.17331,0.0,9.69,0.0,0.585,5.707,54.0,2.3817,6.0,391.0,19.2,396.90,12.01,21.8
103,0.21161,0.0,8.56,0.0,0.520,6.137,87.4,2.7147,5.0,384.0,20.9,394.47,13.44,19.3

In [6]:
# Generate a sample

sample_size = 200
sample = df.sample(n=sample_size, random_state = 1)

In [7]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [8]:
sample.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.00000
mean,4.465616,12.437500,11.352750,0.075000,0.558334,6.255410,67.910500,3.770751,9.92000,424.125000,18.389500,353.014700,12.837700,22.82400
std,10.823028,24.967513,7.083616,0.264052,0.124163,0.716596,28.525394,2.206674,8.79719,168.557431,2.185962,96.272579,7.488109,9.90519
min,0.013810,0.000000,0.460000,0.000000,0.392000,3.863000,2.900000,1.129600,1.00000,188.000000,12.600000,2.520000,1.730000,5.60000
25%,0.081278,0.000000,4.930000,0.000000,0.446500,5.873250,42.700000,1.995175,4.00000,294.250000,17.300000,373.445000,6.577500,16.67500
50%,0.298675,0.000000,9.900000,0.000000,0.538000,6.165500,76.250000,3.122200,5.00000,384.000000,18.700000,390.780000,12.185000,20.75000
75%,4.534562,18.125000,18.100000,0.000000,0.631000,6.679250,93.825000,5.212575,24.00000,666.000000,20.200000,396.382500,17.370000,27.97500
max,88.976200,95.000000,27.740000,1.000000,0.871000,8.297000,100.000000,10.710300,24.00000,711.000000,22.000000,396.900000,36.980000,50.00000

In [12]:
# Calculate sample mean, z-critical, margin of error and confidence interval

sample_mean = sample.target.mean()

from scipy import stats
from math import sqrt

z_critical = stats.norm.ppf(q=0.975)

sample_std = sample.target.std()

margin_of_error = z_critical * (sample_std/sqrt(sample_size))

confidence_interval = (sample_mean - margin_of_error,
                       sample_mean + margin_of_error)

print("Z-critical value is", z_critical)
print("Margin of error is", margin_of_error)
print("Confidence interval value is", confidence_interval)

Z-critical value is 1.959963984540054
Margin of error is 1.3727640632203462
Confidence interval value is (21.451235936779646, 24.196764063220336)